bcrypt==3.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cryptography==3.1.1
cssselect==1.1.0
cssutils==1.0.2
dnspython==2.0.0
ecdsa==0.14.1
edgedb==0.11.0
email-validator==1.1.1
emails==0.6
fastapi==0.61.1
h11==0.11.0
idna==2.10
jinja2==2.11.2
lxml==4.6.3
markupsafe==1.1.1
passlib==1.7.4
premailer==3.7.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.6.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-jose==3.2.0
python-multipart==0.0.5
requests==2.24.0
rsa==4.6
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.25.10
uvicorn==0.12.1
